  <!-- all actions called are in main-page.js file from the controllers file.... its basically calling a function  -->
  
<div class="ui inverted menu">
  <a class="item" {{action 'save'}}>
    <i class="save icon"></i>
    Save
  </a>
  <a class="item" {{action 'undo'}}>
    <i class="undo icon"></i>
    Undo
  </a>
  <a class="item" {{action 'first'}}>
    <i class="step backward icon"></i>
    First
  </a>
  <a class="item" {{action 'previousRecord'}}>
    <i class="caret left icon"></i>
    Previous Record
  </a>
  <a class="item" {{action 'nextRecord'}}>
    <i class="caret right icon"></i>
    Next Record
  </a>
  <a class="item" {{action 'lastRecord'}}>
    <i class="step forward icon"></i>
    Last Record
  </a>
  <a class="item">
    <i class="content icon"></i>
    {{#link-to 'all'}}All Records{{/link-to}}
  </a>
  <a class="item">
    <i class="search icon" {{action 'find'}}></i>
  </a>
  <div class="ui input">
    {{input type="text" value = findsNum placeholder="Student Number"}}
  </div>
  <a class="item">
    <i class="help icon"></i>
    {{#link-to 'help'}}Help{{/link-to}}
  </a>
</div>



<br/><br/>
<div class="ui grid">
  <div class="two wide column"></div>
  <div class="seven wide column">
    <div class="ui form">
      <div class="inline field">
        <label>Student Number</label>
        {{input type="text"  value = sNum placeholder="Student Number" readonly=true}}
      </div>
      <div class="inline field">
        <label>First Name</label>
        {{input type="text"  value = fName placeholder="First Name"}}
      </div>
      <div class="inline field">
        <label>Last Name</label>
        {{input type="text"  value = lName placeholder="Last Name"}}
      </div>
      <div class="inline field">
        <label>Date of Birth</label>
        {{input type="text"  value = dob placeholder="Date of Birth"}}
      </div>
      <div class="inline field">
        <label>Residency</label>
        <select class="ui search dropdown" id="resDropDown" onchange={{action 'changeResidency' value="target.value"}}>
          <option value="">Canadian/Native or International</option>
          <option value="0">Canadian/Native</option>
          <option value="1">Permanent</option>
          <option value="2">International</option>
        </select>
      </div>
      <div class="inline field">
        <label>Gender</label>
        <select class="ui search dropdown" id="genderDropDown" onchange={{action 'changeGender' value="target.value"}}>
          <option value="">Gender</option>
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
      </div>
    </div>
  </div>
  <div class="four wide column">
    {{#if gender}}
      <img src="/assets/images/Female+student.png">
    {{else}}
      <img src="/assets/images/Male+student.png">
    {{/if}}
  </div>
</div>


<br><br><br>


