<div class="ui modal">
  <div class="header">Add a Record</div>
  <div class="content">
    <div class="ui form">
      <div class="inline field">
        <label>Program</label>
        <select onchange={{action 'selectRecord' value="target.value"}}>
          <option value="1" selected=true>B.E.Sc. Engineering Sc DEG</option>
          <option value="2">Concurrent Studies CNC</option>
        </select>
      </div>
      {{#each plans as |currentPlan index|}}
        <div class="inline field">
          <label>Plan</label>
          <select onchange={{action 'selectPlan' value="target.value"}}>
            {{#each planModel as |planChoice|}}
              <option value={{planChoice.id}}>{{planChoice.name}}</option>
            {{/each}}
          </select>
        </div>
      {{/each}}
      <div class="inline field">
        <label>Add a plan</label>
        <button class="ui icon button" {{action 'newPlanField'}} title="Add another plan">
          <i class="plus icon"></i>
        </button>
        {{#if plans}}
          <label>Remove Plan</label>
          <button class="ui icon button" {{action 'deletePlanField'}} title="Remove last plan">
            <i class="minus icon"></i>
          </button>
        {{/if}}
      </div>
    </div>
    <br><br>
    <div class="actions">
      <br>
      <div class="ui positive button" {{action 'saveRecord'}}>Save</div>
      <div class="ui negative basic button" {{action "close"}}>Cancel</div>
    </div>

  </div>
</div>