<div class="ui modal">
  <div class="header">Edit {{codeToEdit.code}}</div>
  <div class="content">
      <div class="ui form">

        <div class="inline field">
        <label>Code</label>
        {{input type="text" value=codeToEdit.code}}
        </div>

        <div class="inline field">
        <label>Description</label>
        {{textarea rows='8' cols='8' value=codeToEdit.name}}
        </div>

       <!-- <div>
        <label>Rules</label>
        {{adjudicationrules-dropdown program = codeToEdit.id planModel = ruleModel}}
        {{#each codeToEdit.logicalExpressions as |rule|}}
            {{input type="text" value=rule.booleanExp}} <div class="ui red button" {{action 'deleteRule' rule}}>Delete</div>
        {{/each}}
        </div> -->

    </div>
    <div class="actions">
        <br>
        <div class="ui green button" {{action 'saveCode'}}>Save</div>
        <div class="ui red basic button" {{action "close"}}>Cancel</div>
    </div>
  </div>
</div>
