<!-- the course name, course mark, and school name will be displayed in a line with three buttons: view more, update, and delete -->
<!-- clicking view more will bring up a modal (view-highschool) with the rest of the highschool data -->
<!-- clicking update brings up the same modal (view-highschool) but with an option to save the changes -->
<!-- delete should just delete the record -->
<!-- ******** THESE FUNCTIONALITIES CANT BE TESTED UNTIL ROUTES ARE IN SO IDK IF THEY 100% WORK-->

<table class="ui celled table">
  <th>
    <td>
      <h4>Course</h4>
    </td>
    <td>
      <h4>Grade</h4>
    </td>
    <td>
      <h4>From</h4>
    </td>
  </th>
  {{#each marks as |hsGrade|}}
  <tr>
    <td>{{hsGrade.course.subject.name}}</td>
    <td>{{hsGrade.mark}}</td>
    <td>{{hsGrade.course.school.name}}</td>
    <td>
      <div class="ui positive button" {{action "viewMore" hsGrade}}>View More</div>
    </td>
    <td>
      <div class="ui positive button" {{action "updateCourse" hsGrade}}>Update</div>
    </td>
    <td>
      <div class="ui negative button" {{action "deleteCourse" hsGrade}}>Delete</div>
    </td>
  </tr>
  {{/each}}
</table>

<!-- the two if statements call the same modal, but it sets the "editCourse" variable to different values -->
<!-- "editCourse" is a variable in the modal, when it is true, it signfies that the "update" button in high-school.hbs was clicked. This then causes the modal to have a "save" button so the user can save edits -->
<!-- if "editCourse" is false, then the user clicked the "view more button. This then causes the modal to only have a "close" button, therefore no changes can be saved -->

<!-- IF showMore IS TRUE THEN THE USER HAS CLICKED THE "view more" BUTTON AND THE MODAL WITH ALL THE COURSE info *SHOULD* BE SHOWN -->
{{#if showMore}} {{view-highschool hsGrade = hsGrade notDONE = showMore editCourse = false}}

<!-- IF updateCourse IS TRUE THEN THE USER HAS CLICKED THE "update" BUTTON AND THE MODAL WITH ALL THE EDITABLE COURSE INFO *SHOULD* BE SHOWN -->
{{else if updateCourse}} {{view-highschool hsGrade = hsGrade notDONE = updateCourse editCourse = true}} {{/if}}

<div class="ui button" {{action "addHS"}}>Add High School Course</div>

{{#if showNewHS}} {{add-highschool newrecipient = currentStudent notDONE = showNewHS studentsModel = studentsRecords}} {{/if}}





<!-- the only reason the headers are in a table is because the spacing/alignment wouldnt look good otherwise -->
<!-- if the headers arent linning up with whats in the table then this is what you should change -->
<!-- the basic layout should be correct (because thats what it is for displaying the awards and advanced standing), but if not try changing the length of the <td> -->
<!-- basically what worked for awards and advanced standing is if you change the table size or any column lengths in the component that shows all the info, 
   then the table that contains the header (which is whats below) should be the same just with different content -->
{{!--<table class="ui six column very basic table">
  <tr>
    <td class="two wide">
      <h4>Course</h4>
    </td>
    <td class="one wide">
      <h4>Grade</h4>
    </td>
    <td class="two wide">
      <h4>From</h4>
    </td>
    <td class="three wide"></td>
    <td class="two wide"></td>
    <td class="two wide"></td>
  </tr>
</table>
{{#each hsMarks as |mark|}} {{high-school hsGrade = mark}}
<br> {{/each}}
<br>
<div class="ui button" {{action "addHS"}}>Add High School Course</div>

{{#if showNewHS}} {{add-highschool newrecipient = currentStudent notDONE = showNewHS studentsModel = studentsRecords}} {{/if}}
</div>--}}