<div class="ui grid">
  <div class="three wide column">
    <div class="ui violet vertical pointing menu">
      {{#each pages as |page|}}
      {{#link-to page.route class="item"}}
        <i class={{page.icon}}></i>
        {{page.text}}
      {{/link-to}}   
      {{/each}}
    </div>
  </div>
  <div class="thirteen wide column ">
    <div class="ui segment container">
      {{outlet}}
       {{#if isManageAdjudicationShowing}}
        {{manage-adjudication}}
      {{/if}}
      {{#if isHighSchoolShowing}}
        {{high-school-data}}
      {{/if}}
      {{#if isManageRulesShowing}}
        {{manage-rules}}
      {{/if}}
    </div>
  </div>
</div>