<!-- Genders -->

<div class="ui segment">

  <h1 class="ui header">Genders</h1>
  <div class="ui action input">
    {{input type="text" placeholder="Add gender..." value=newGender}}
    <button class="positive ui button" {{action 'addGender'}}>Add</button>
  </div>

  <div class="ui divider"></div>

  {{#each genders as |gender index|}}
    <br>
    <div class="ui input">
      {{input type="text" value=gender.name id=index class="genderInput"}}
    </div>
    <button class="ui primary button" {{action 'modifyGender' gender.id index }}>Save</button>
    <button class="negative ui button" {{action 'deleteGender' gender.id}}>Delete</button>
    <br>
  {{/each}}

</div>

<!-- Residencies -->

<div class="ui segment">

  <h1 class="ui header">Residencies</h1>
  <div class="ui action input">
    {{input type="text" placeholder="Add residency..." value=newResidency}}
    <button class="positive ui button" {{action 'addResidency'}}>Add</button>
  </div>

  <div class="ui divider"></div>

  {{#each residencies as |residency index|}}
    <br>
    <div class="ui input">
      {{input type="text" value=residency.name}}
    </div>
    <button class="ui primary button" {{action 'modifyResidency' residency.id index }} >Save</button>
    <button class="negative ui button" {{action 'deleteResidency' residency.id }}>Delete</button>
    <br>
  {{/each}}

</div>


