<!-- Genders -->

<h1 class="ui header">Genders</h1>

<div class="ui bulleted list">

  <h1 class="ui header">Add Gender:</h1>
  <div class="ui action input">
    <input type="text" placeholder="Add gender..." onchange={{action 'addGender' value="target.value"}}>
  </div>

  {{#each genders as |gender|}}
    <div class="ui segment">
      <h6 class="ui header">{{gender.name}}</h6>
      <input type="text" placeholder="Modify gender..." onchange={{action 'modifyGender' gender.id value="target.value"}}>
      <button class="negative ui button" {{action 'deleteGender' gender.id }}>Delete</button>
    </div>
  {{/each}}

</div>


<!-- Section Divider -->
<div class="ui section divider"></div>


<!-- Residencies -->

<h1 class="ui header">Residencies</h1>

<h1 class="ui header">Add Residency:</h1>
<div class="ui action input">
  <input type="text" placeholder="Add residency..." onchange={{action 'addResidency' value="target.value"}}>
</div>

{{#each residencies as |residency|}}
  <div class="ui segment">
    <h6 class="ui header">{{residency.name}}</h6>
    <input type="text" placeholder="Modify residency..." onchange={{action 'modifyResidency' residency.id value="target.value"}}>
    <button class="negative ui button" {{action 'deleteResidency' residency.id }}>Delete</button>
  </div>
{{/each}}


