<br>
{{#each terms as |term|}}
  <h3>{{term.name}}</h3>
  <hr>
  <div class="ui raised segment">
    <h3>Program Record</h3>
    {{#if term.program}}
      <table class="ui seven column very basic table">
        <tr>
          <td class="one wide"><h5>Program Name</h5></td>
          <td class="one wide"><h5>Level</h5></td>
          <td class="one wide"><h5>Load</h5></td>
          <td class="two wide"><h5>Status</h5></td>
          <td class="two wide"><h5>Plan(s)</h5></td>
        </tr>
        {{#each term.program as |program|}}
          <tr>
            <td class="one wide">{{program.name}}</td>
            <td class="one wide">{{program.level}}</td>
            <td class="one wide">{{program.load}}</td>
            <td class="two wide">{{program.status}}</td>
            <td class="two wide">
              <ul>
                {{#each program.plan as |plan|}}
                  <li>{{plan.name}}</li>
                {{/each}}
              </ul>
            </td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <p> No program info to show</p>
    {{/if}}
  </div>
  <div class="ui raised segment"><h3>Grades</h3>
    {{#if term.courseInfo}}
      <table class="ui fixed seven column very basic table">
        <tr>
          <td class="one wide"><h5>Course Code</h5></td>
          <td class="two wide"><h5>Course Name</h5></td>
          <td class="one wide"><h5>Units</h5></td>
          <td class="one wide"><h5>Grade</h5></td>
          <td class="two wide"></td>
        </tr>
        {{#each term.courseInfo as |course|}}
          <tr>
            <td class="one wide">{{course.courseLetter}} {{course.courseNumber}}</td>
            <td class="two wide"> {{course.name}}</td>
            <td class="one wide"> {{course.unit}}</td>
            <td class="one wide"> {{course.grade.mark}}</td>
            <td class="two wide">
              {{#if course.grade.note}}
                <div class="ui button" {{action "showNote" course.grade.note}}>Note</div>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <p>No grade info to show</p>
    {{/if}}
  </div>
  <br>
{{else}}
  <h5>No information to show</h5>
{{/each}}
<br><br>
<div class="ui button" {{action "addRecord"}}>Add New Record</div>
<br><br><br>
{{#if isAdding}}
  {{add-program-record notDONE = isAdding}}
{{/if}}
{{#if descriptionShow}}
  {{show-description title = "Grade" description = description notDONE = descriptionShow}}
{{/if}}