<div class="ui modal">
  {{#if term}}
    <div class="header">Edit Term Information</div>
    <div class="content">
      <div class="ui form">
        <div class="inline field">
          <label>Term Name</label>
          {{input size="20" type="text"  value = term.name}}
        </div>
      </div>
      <br>
      <div class="actions">
        <br>
        <div class="ui green button" {{action 'saveRecord' term}}>Save</div>
        <div class="ui red basic button" {{action "close"}}>Cancel</div>
      </div>
    </div>
  {{/if}}
  {{#if program}}
    <div class="header">Edit Program Information</div>
    <div class="content">
      <div class="ui form">
        <div class="inline field">
          <label>Program Name</label>
          {{input size="20" type="text" value = program.name}}
        </div>
        <div class="inline field">
          <label>Program Level</label>
          {{input size="20" type="text" value = program.level}}
        </div>
        <div class="inline field">
          <label>Program Load</label>
          {{input size="20" type="text" value = program.load}}
        </div>
        <div class="inline field">
          <label>Program Status</label>
          {{input size="20" type="text" value = program.status}}
        </div>
        {{#each program.plan as |plan|}}
          <div class="inline field">
            <label>Plan</label>
            <select onchange={{action 'selectPlan' value="target.value"}}>
              {{#each planModel as |planChoice|}}
                <option value={{planChoice}} selected={{eq plan.name
                                                                planChoice}}>{{planChoice}} </option>
              {{/each}}
            </select>
          </div>
        {{/each}}
        <div class="inline field">
          <label>Add a plan</label>
          <button class="ui icon button" {{action 'newPlanField'}} title="Add another plan">
            <i class="plus icon"></i>
          </button>
          {{#if hasPlan}}
            <label>Remove Plan</label>
            <button class="ui icon button" {{action 'deletePlanField'}} title="Remove last plan">
              <i class="minus icon"></i>
            </button>
          {{/if}}
        </div>
      </div>
      <br>
      <div class="actions">
        <br>
        <div class="ui green button" {{action 'saveRecord' program}}>Save</div>
        <div class="ui red basic button" {{action "close"}}>Cancel</div>
      </div>
    </div>
  {{/if}}
  {{#if course}}
    <div class="header">Edit Course Information</div>
    <div class="content">
      <div class="ui form">
        <div class="inline field">
          <label>Grade</label>
          {{input size="10" type="text" value = course.grade.mark}}
        </div>
        <div class="inline field">
          <label>Note</label>
          {{textarea cols="5" rows="5" value = course.grade.note }}
        </div>
        <div class="inline field">
          <label>Course</label>
          <select onchange={{action 'selectCourse' value="target.value"}}>

            {{#each courseModel as |courseChoice|}}
              <option value={{courseChoice}} selected={{eq course.name
                                                         courseChoice.name}}>{{courseChoice.courseLetter}} {{courseChoice.courseNumber}}</option>
            {{/each}}
          </select>
          <button class="ui button" {{action 'editCourse'}} title="Edit this course">Edit</button>
          <button class="ui icon button" {{action 'newCourse'}} title="Add a different course">
            <i class="plus icon"></i>
          </button>
          <button class="ui icon button" {{action 'deleteCourse' course}} title="Delete this course">
            <i class="minus icon"></i>
          </button>
        </div>
      </div>
      {{#if courseToEdit}}
        <div class="ui tertiary grey segment">
          <div class="ui form">
            <div class="inline field">
              <label>Course Letter</label>
              {{input size="5" type="text" value = courseToEdit.courseLetter}}
            </div>
            <div class="inline field">
              <label>Course Number</label>
              {{input size="10" type="text" value = courseToEdit.courseNumber}}
            </div>
            <div class="inline field">
              <label>Course Name</label>
              {{input size="20" type="text" value = courseToEdit.name}}
            </div>
            <div class="inline field">
              <label>Units</label>
              {{input size="3" type="number" value = courseToEdit.unit}}
            </div>
            <div class="inline field">
              <button class="ui green button" {{action 'saveCourseToEdit'}}>Save</button>
              <button class="ui red button" {{action 'cancelCourseEdit'}}>Cancel</button>
            </div>
          </div>
        </div>
      {{/if}}
      <br>
      <div class="actions">
        <br>
        <div class="ui green button" {{action 'saveRecord' program}}>Save</div>
        <div class="ui red basic button" {{action "close"}}>Cancel</div>
      </div>
    </div>
  {{/if}}
</div>